@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh;
    width: 100%;
}

#control-panel {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
}

#motto {
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
}

#control-panel h3 {
    margin: 10px 0;
    font-size: 17px;
}

h1.title {
    display: flex;
    align-items: flex-end;
    font-size: 29px;
    margin-bottom: 5px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(244, 51, 53);
}

h1.title img.icon {
    height: 2em;
    width: auto;
    margin-right: 10px;
}

form input, form label {
    font-size: 14px;
    margin-bottom: 10px;
}

form input[type="text"] {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#suggestions {
    position: relative;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 5px;
    display: none;
}
